body {
  margin-top: 30px;
  background-color: #eee;
}
.faq-pills {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0);
}
.faq-pills .nav-link {
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #606060;
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  transition: background-color 0.18s ease;
}
.faq-pills .nav-link:hover {
  background-color: #f3f3f3;
}
.faq-pills .nav-link.active {
  background-color: #f3f3f3;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}
.faq-pills .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}
.faq-pills .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}
.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0);
}
.tab-content .accordion-item {
  border-radius: 0;
}
.tab-content .accordion-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f3f3f3;
}
.tab-content .accordion-button {

  background-color: #f3f3f3;
}
.tab-content .accordion-header h5 {
  margin: 0;
}
.tab-content .accordion-header h5 button {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  white-space: normal;  
  padding: 0;
  border: 0;
  font-weight: 700;
}
.tab-content .accordion-header h5 button:hover, .tab-content .accordion-header h5 button:focus, .tab-content .accordion-header h5 button:active, .tab-content .accordion-header h5 button:hover:active {
  text-decoration: none;
}
.tab-content .accordion-body p {
  color: #606060;
}
.tab-content .accordion-body p:last-of-type {
  margin: 0;
}
.accordion > .accordion:not(:first-child) {
  border-top: 0;
}
.collapse.show .accordion-body {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.bottompart {
  background-color: #f3f3f3;
}
